{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>ReleaseYear</th>
                <td>{{ movie.releaseYear ? movie.releaseYear|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ movie.url }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ movie.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ movie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">back to list</a>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
